* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/img/background3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  position: relative;
}

.memoryGame {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
  width: 720px;
  height: 710px;
}

#header {
  font-family: "aachen";
  font-size: 50px;
  top: 30px;
  left: 28%;
  padding-bottom: 20px;
  color: rgb(26, 49, 100);
  text-shadow: rgb(21, 43, 61);
  text-shadow: 1px 1px;
  position: fixed;
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: absolute;
  border-radius: 5px;
  background: royalblue;
}

.memoryCard {
  width: calc(20% - 10px);
  height: calc(25% - 10px);
  margin: 3px;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1);
}

.memoryCard:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memoryCard.flip {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(180deg);
}

.startGameButton {
  background-color: rgb(26, 49, 100);
  border: none;
  font-weight: bold;
  font-family: "aachen";
  font-size: 40px;
  border-radius: 20px;
  color: rgb(248, 20, 20);
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  position: fixed;
  left: 38%;
  margin-top: 280px;
}

.startGameButton:hover {
  background-color: firebrick;
  transition-duration: 0.5s;
  color: rgb(26, 49, 100);
}

.congratsMsg {
  font-family: "aachen";
  font-size: 60px;
  top: 30px;
  left: 34%;
  padding-bottom: 20px;
  color: rgb(248, 252, 10);
  text-shadow: rgb(21, 43, 61);
  text-shadow: 1px 1px;
  position: fixed;
}

.congratsMsg {
  animation: flyin 1.2s ease forwards;
  opacity: 0;
  transform: scale(2);
  filter: blur(4px);
}

.newGameButton {
  background-color: rgb(26, 49, 100);
  border: none;
  font-weight: bold;
  font-family: "aachen";
  font-size: 40px;
  border-radius: 20px;
  color: rgb(248, 20, 20);
  padding: 15px 32px;
  text-decoration: none;
  position: fixed;
  top: 30%;
  left: 39%;
}

.newGameButton:hover {
  background-color: firebrick;
  transition-duration: 0.5s;
  color: rgb(26, 49, 100);
}

@keyframes flyin {
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
